/* header */

body {
  background-color: #f2d0a7;
}
header {
  background: #eeeeee;
  padding: 20px 0;
}

.container {
  width: 90%;
  position: relative;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  color: #523d2a;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #bf7e04;
}
li {
  text-align: center;
  display: inline-block;
}
